*{
    box-sizing: border-box;
    
}

html, body{
    overflow: hidden;
    width: 430px;

}

body{
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: */
}

.header{
    background-color: #FF4F63 ;
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: 10;
}

#sidebarMenu{
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    width: 40%;
    margin-top: 20px;
    background-color: aqua;
    transform: translate(-100%);
    transition: transform 300ms ease-in-out;

}

.nav{
    list-style: none;
    padding: 5px;
}

.nav li a{
    color:black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: medium;
    padding-bottom: 10px;

}

.main{
    margin: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background: #FF4F63;
    border-color: #FF4F63;
    color: white;
}