*{
    box-sizing: border-box;
    
}

html, body{
    overflow: hidden;
    width: 100vw;

}

body{
    height: auto;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #FF4F63;
    width: 100%;
    height: 10%;
    padding: 0px 20px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header h1{
    font-family: 'Kanit', sans-serif;
    align-self: center;
    font-size: xx-large;
    color: white;

}

.nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0px 20px;
    align-items: center;
}

.nav li {
    display: block;
    list-style: none;
    position: relative;
}

.nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: medium;
    color: white;
    cursor: pointer;
}

.nav li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav li:hover::after{
    width: 100%;
}

.nav button {
    all: unset;
    cursor: pointer;
    font-size: 32px;
    transition: 256ms;
}

.nav li.bt-on {
    color: white;
}

.nav li.bt-on::after {
    width: 100%;
}

.navLink {
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tapimage{
    top: 225px;
    position: absolute;
    height: 350px;
    z-index: 20;
} 

.main h1{
    position: relative;
    font-size: 200px;
    color: #FF4F63;
    z-index: 20;
}

.main p{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 0px;
}

#instruction {
    padding: 80px;
    transition: all 256ms;
}

#instruction.pre-animation {
    opacity: 0;
}

#connectBtn{
    margin: 275px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#connectBtn:hover{
    background: #FF4F63;
    border-color: #FF4F63;
    color: white;
}

@keyframes ikot-ikot {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .tapimage {
      animation: ikot-ikot infinite 8s linear;
    }
  }
