* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  width: 100vw;
}

body {
  height: auto;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #FF4F63;
  width: 100%;
  height: 10%;
  padding: 0px 20px;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-family: "Kanit", sans-serif;
  align-self: center;
  font-size: xx-large;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0px 20px;
}

.nav li {
  display: block;
  list-style: none;
  position: relative;
}

.nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: medium;
  color: white;
  cursor: pointer;
} 

.nav li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav li:hover::after {
  width: 100%;
}

.nav li #navTo-account-list::after {
  content: "";
  height: 3px;
  width: 100%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.main{
  margin: 30px;
}
.accountlist {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  overflow: auto;
}

.accountOptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}

.accountNumber{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.accountNumber h1{
  font-size: 20px;
  font-weight: 300;
}

.button{
  margin: 5px;
  padding: 0px 4px;
  border-radius: 10px;
  width: 180px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.button:hover{
  background: #FF4F63;
  color: white;
}

.accountCard {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 400px;
  padding: 10px;
  margin: 10px;
  gap: 10px;
  background-color: #f0f0f0a4;
  box-shadow: 0px 7px 3px  #b8b8b8;
}

.accountContainer{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.accountCard .icon {
  font-size: 55px;
}

.accountCard .accountName,
.accountCard .accountEmail {
}

.delete-icon {
  cursor: pointer;
  font-size: 32px !important;
  margin-left: auto;
  margin-right: 16px;
  transition: 100ms;
}

.delete-icon:hover {
  transform: scale(1.1);
}